<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>io.github.mcroteau.web.SigninServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>io.github.mcroteau.web.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SecuredServlet</servlet-name>
        <servlet-class>io.github.mcroteau.web.SecuredServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecuredServlet</servlet-name>
        <url-pattern>/secured</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Parakeet</filter-name>
        <filter-class>io.github.mcroteau.resources.filters.CacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Parakeet</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>http://metawerx.net/mapp/taglibs</taglib-uri>
            <taglib-location>/.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>